{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:testing-library/react", "eslint:recommended", "plugin:@typescript-eslint/recommended","prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015
  }
}
